<p style="color: green"><%= notice %></p>

<%= render @hero_image %>
<strong> Created by <%= @hero_image.user.email %> </strong>
<div>
  <%= link_to "Back to hero images", hero_images_path %>

  <%= button_to "Destroy this hero image", @hero_image, method: :delete %>
</div>
